<%- include('header') %>

<div class="container">
    <div class="grid">
        <div class="con-a"></div>
        <div class="con-b"></div>
        <div class="con-c"></div>
        <div class="con-d grid">
            inner grid
        </div>
        <div class="con-e"></div>
    </div>
</div> 

<div class="footer-text">
    <h6>© 2023 Matt Pulford</h6>
</div>

<%- include('footer') %>
