<%- include('header') %>

<div class="image-conatiner">
    <img class="full-sized-image" src="<%= image.url %>" alt="full-sized" height="70">
</div>
<div class="image-controls">
    <div class="home-button">
        <a href="javascript:history.back()" class="page-buttons">Back</a>
    </div>
</div>



<%- include('footer') %>

<style>
    .navbar {
    display: none;
  }

  .hidden-name {
    display: none;
  }
</style>
