<%- include('header') %>

<div class="image-conatiner">
    <img class="full-sized-image" src="<%= image.url %>" alt="full-sized" height="70">
</div>
<!-- <div class="image-controls">
  <div class="home-button">
      <a href="#" class="page-buttons" id="backButton">Back</a>
  </div>
</div>

<script>
document.getElementById('backButton').addEventListener('click', function(event) {
  event.preventDefault(); // Prevent the default anchor behavior
  window.history.back(); // Go back in the browser history
});
</script> -->



<%- include('footer') %>

<style>
    .navbar {
    display: none;
  }

  .hidden-name {
    display: none;
  }
</style>
