<%- include('header') %>

<div class="container">
  <div class="grid">
      <div class="a"></div>
      <div class="b">
          <div class="name first-name">
              <h1>Denis</h1>
          </div>
          <div class="name last-name">
              <h1>Fafard</h1>
          </div>
      </div>
      <div class="c"></div>
      <div class="d"></div>
      <a href="#" class="e">
          <div class="name gallery">
              <h2>Gallery</h2>
          </div>
      </a>
      <a href="#" class="f">
          <div class="name contact">
              <h3>Contact</h3>
          </div>
      </a>
      <div class="g"></div>
  </div>
</div>
<div class="footer-text">
  <h6>© 2023 Matt Pulford</h4>
</div>



  <%- include('footer') %>