<%- include('header') %>

<div class="container">
    <div class="larger-image">
        <img src="<%= largerImageURL %>" alt="Larger Image">
    </div>
    <a href="/gallery?page=<%= currentPage %>" class="button">Back to Gallery</a>
</div>

<%- include('footer') %>
