/* General Styles */
body {
  font-family: 'Abril Fatface', serif;
  background-color: #FFFFFF;
  background-image: url('/images/texture.png');
  padding: 0;
  margin: 0;
}



/* Navbar */
.navbar {
  background-color: #00000010;
}

/* Nav Item */
nav,
.navbar,
.container-fluid {
  margin: 0;
  /* Reset margin */
  padding: 0;
  /* Reset padding */
}

.container-fluid {
  margin: -5 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -10px;
  font-size: 7.5vw;
}

.navbar-header h1 {
  margin: 0;
  padding: 0;
}

.navbar-header {
  padding: 0;
  margin: 0;
}

.nav-item {
  font-size: 1.2rem;
  padding: 0px 10px;
}

.nav-item:hover {
  background-color: #00000025;

}



/* Main Section Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  height: 75vh;
  max-width: 1400px;
  min-width: 200px;
  min-height: 150px;
  margin: 20px auto;
  margin-top: 6rem;
  padding: 10px;
}

.a,
.b,
.c,
.d,
.g {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.a {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-image: url('/images/peice-1.webp');
}

.b {
  grid-column: 4 / span 3;
  grid-row: 1 / span 2;
  margin-right: -10px;
  background-color: #000;
  position: relative;

}

/* Additional styles for the .name div */
.name {
  position: absolute;
  color: whitesmoke;
  bottom: -22px;
  right: -8px;
}

.name h1 {
  font-size: 6rem;
  padding: 0;
  margin: 0;
}

.first-name {
  bottom: 53px;
}

.c {
  grid-column: 5 / span 3;
  grid-row: 3 / span 3;
  background-image: url('/images/peice-10.webp');

}

.d {
  grid-column: 2 / span 3;
  grid-row: 4 / span 2;
  background-image: url('/images/peice-4.webp');

}

.e {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  background-color: #000;
  position: relative;
}

/* Additional styles for Gallery Text */

.gallery {
  bottom: -8px;
  right: -2px;
}

.gallery h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.f {
  grid-column: 1 / span 1;
  grid-row: 4 / span 2;
  background-color: #000;
  position: relative;
}

.g {
  grid-column: 4 / span 1;
  grid-row: 3 / span 3;
  background-image: url('/images/peice-5.webp');
}

/* Additional styles for Contact Text */

.contact {
  bottom: -10px;
  right: -1px;
}

.contact h3 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}


.e:hover,
.f:hover {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('/images/texture.webp');
  transition: background-color 0.6s;
}

.e:hover .name,
.f:hover .name {
  color: black;
  transition: color 0.6s;
}

.b:hover {
  background-color: #FFFFFF;
  background-image: url('/images/texture.png');
  transition: background-color 0.6s;
}

.b:hover .name {
  color: black;
  transition: color 0.6s;
}


/* Contact Form Grid */

.con-a,
.con-b,
.con-c,
.con-e {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.con-a {
  background-image: url('/images/peice-7.webp');
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
}

.con-b {
  background-image: url('/images/peice-8.webp');
  grid-column: 3 / span 2;
  grid-row: 3 / span 3;
}

.con-c {
  background-image: url('/images/peice-2.webp');
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.con-d {
  background-color: #000000;
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-e {
  background-color: blueviolet;
  grid-column: 5 / span 2;
  grid-row: 4 / span 2;
  background-image: url('/images/peice-9.webp');
}

/* Contact Form */
.form-container {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically on small screens */
  align-items: center;
  /* Center align the form */
  justify-content: center;
  border: 2px solid white;
  width: 100%;
  /* Take the full width of the container */
  height: 95%;
  max-width: 400px;
  /* Adjust the max width as needed */
  margin: 0 auto;
  /* Center horizontally */
}

#contact-form {
  color: white;
  width: 100%;
  /* Take full width of the form container */
  padding: 0 5px;
}

.contact-button {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.form-top {
  margin-top: 0;
  /* Remove top margin to align with form elements */
}

.form-input label,
.form-input input,
.form-input textarea {
  width: 100%;
  /* Make input elements full-width within the form */
  padding-bottom: 3px;
}

input {
  font-family: sans-serif;
}

/* Footer Area */
.footer-text {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-family: 'Roboto';
}

/* Index Media Queries */
/* Media Quieries min-width of 1401px  */
@media (min-width: 1024px) {
  .navbar {
    display: none;
  }

  .g {
    display: none;
  }

  .hidden-name {
    display: none;
  }
}


/* Small Screen Meaia Quiries */

@media (max-width: 1023px) {
  .b {
    background-image: url('/images/peice-3.webp');
  }

  .b:hover {
    background-image: url('/images/peice-3.webp');
    transition: none;
    /* Remove transition on hover */
  }

  .e,
  .f,
  .footer-text {
    display: none;
  }

  .d {
    grid-column: 1 / span 3;
    grid-row: 4 / span 3;
    background-image: url('/images/peice-4.webp');
  }

  .c,
  .g {
    margin-bottom: -10px;
  }

  .name h1 {
    display: none;
  }
}

/* Navbar styles for below 768 */
@media (max-width: 1023px) {
  .grid {
    margin: 100px auto;
  }
}

/* Media Query for screens below 425px */
@media (max-width: 500px) {
  .navbar {
    text-align: center;
  }

  .navbar-brand {
    position: static;
    font-size: 2rem;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }

  .nav-item {
    padding: 0 10px;
  }

}

/* Contact Form Media Queries */
@media (max-height: 920px) {
  .con-e {
    display: none;
  }

  .con-d {
    grid-row: 1 / span 5;
  }
}

@media (max-width: 1400px) {
  .con-b {
    display: none;
  }

  .con-c {
    display: none;
  }

  .con-a {
    grid-column: 1 / span 3;
  }

  .con-d {
    grid-column: 4 / span 3;

  }

  .con-e {
    grid-column: 4 /span 3;
  }

  .form-container {
    max-width: none;
    margin: 5px 5px;
  }
}

@media (max-width: 425px) {
  .grid {
    margin: 20px auto;
  }

  .con-a {
    display: none;
  }

  .con-e {
    display: none;
  }

  .con-d {
    grid-column: 1 / span 6;
    grid-row: 1 / span 5;
  }
}